<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83191235630-9amuquptlldshj6niu66u91uop4lse15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83191235630-9amuquptlldshj6niu66u91uop4lse15</string>
	<key>API_KEY</key>
	<string>AIzaSyCAVP-fHCS-AHcaqRABdxDjwgWrVpJgjZc</string>
	<key>GCM_SENDER_ID</key>
	<string>83191235630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.serenoCleanArchitectureSolid</string>
	<key>PROJECT_ID</key>
	<string>sereno-144e7</string>
	<key>STORAGE_BUCKET</key>
	<string>sereno-144e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83191235630:ios:c76b1be63feccffeaa4bbf</string>
</dict>
</plist>